<h1>Listing jyoutai_umufukanous</h1>

<table>
  <thead>
    <tr>
      <th>Atai</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jyoutai_umufukanous.each do |jyoutai_umufukanou| %>
      <tr>
        <td><%= jyoutai_umufukanou.atai %></td>
        <td><%= link_to 'Show', jyoutai_umufukanou %></td>
        <td><%= link_to 'Edit', edit_jyoutai_umufukanou_path(jyoutai_umufukanou) %></td>
        <td><%= link_to 'Destroy', jyoutai_umufukanou, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jyoutai umufukanou', new_jyoutai_umufukanou_path %>
