<h1>Listing zaitakus</h1>

<table>
  <thead>
    <tr>
      <th>Atai</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zaitakus.each do |zaitaku| %>
      <tr>
        <td><%= zaitaku.atai %></td>
        <td><%= link_to 'Show', zaitaku %></td>
        <td><%= link_to 'Edit', edit_zaitaku_path(zaitaku) %></td>
        <td><%= link_to 'Destroy', zaitaku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zaitaku', new_zaitaku_path %>
