<p id="notice"><%= notice %></p>

<p>
  <strong>Kyoukaicode:</strong>
  <%= @eigyosyo.kyoukaicode %>
</p>

<p>
  <strong>Kyoukaimei:</strong>
  <%= @eigyosyo.kyoukaimei %>
</p>

<%= link_to 'Edit', edit_eigyosyo_path(@eigyosyo) %> |
<%= link_to 'Back', eigyosyos_path %>
