<h1>Listing jyoutai_umumijisshis</h1>

<table>
  <thead>
    <tr>
      <th>Atai</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jyoutai_umumijisshis.each do |jyoutai_umumijisshi| %>
      <tr>
        <td><%= jyoutai_umumijisshi.atai %></td>
        <td><%= link_to 'Show', jyoutai_umumijisshi %></td>
        <td><%= link_to 'Edit', edit_jyoutai_umumijisshi_path(jyoutai_umumijisshi) %></td>
        <td><%= link_to 'Destroy', jyoutai_umumijisshi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jyoutai umumijisshi', new_jyoutai_umumijisshi_path %>
