<h1>Listing chosakekka_codes</h1>

<table>
  <thead>
    <tr>
      <th>Atai</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chosakekka_codes.each do |chosakekka_code| %>
      <tr>
        <td><%= chosakekka_code.atai %></td>
        <td><%= link_to 'Show', chosakekka_code %></td>
        <td><%= link_to 'Edit', edit_chosakekka_code_path(chosakekka_code) %></td>
        <td><%= link_to 'Destroy', chosakekka_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chosakekka code', new_chosakekka_code_path %>
