<p id="notice"><%= notice %></p>

<p>
  <strong>Keiyaku:</strong>
  <%= @zetsufudaicho.keiyaku_id %>
</p>

<p>
  <strong>Scsym:</strong>
  <%= @zetsufudaicho.scsym %>
</p>

<p>
  <strong>Sscsym:</strong>
  <%= @zetsufudaicho.sscsym %>
</p>

<p>
  <strong>Sscsym2:</strong>
  <%= @zetsufudaicho.sscsym2 %>
</p>

<p>
  <strong>Sscsym3:</strong>
  <%= @zetsufudaicho.sscsym3 %>
</p>

<p>
  <strong>Sscsym4:</strong>
  <%= @zetsufudaicho.sscsym4 %>
</p>

<p>
  <strong>Haisen:</strong>
  <%= @zetsufudaicho.haisen %>
</p>

<p>
  <strong>Kiki:</strong>
  <%= @zetsufudaicho.kiki %>
</p>

<p>
  <strong>Kaishuym:</strong>
  <%= @zetsufudaicho.kaishuym %>
</p>

<p>
  <strong>Biko:</strong>
  <%= @zetsufudaicho.biko %>
</p>

<%= link_to 'Edit', edit_zetsufudaicho_path(@zetsufudaicho) %> |
<%= link_to 'Back', zetsufudaichos_path %>
