<h1>Listing jyoutai_umus</h1>

<table>
  <thead>
    <tr>
      <th>Atai</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jyoutai_umus.each do |jyoutai_umu| %>
      <tr>
        <td><%= jyoutai_umu.atai %></td>
        <td><%= link_to 'Show', jyoutai_umu %></td>
        <td><%= link_to 'Edit', edit_jyoutai_umu_path(jyoutai_umu) %></td>
        <td><%= link_to 'Destroy', jyoutai_umu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jyoutai umu', new_jyoutai_umu_path %>
