<h1>ログイン</h1>

<%= form_for(:logindata, url: logindatas_path) do |f| %>
 
  <table border="1">
      <tr>
        <th><%= f.label "営業所" %></th>
        <td>
		<%= f.select :whoami_kyoukaicode, @eigyosyos.map{|eigyosyo| [eigyosyo.kyoukaicode+' '+eigyosyo.kyoukaimei, eigyosyo.kyoukaicode]},:selected => params[:kyoukaicode] %>
		</td>
      </tr>
    <tr>
      <th><%= f.label "フィールド担当者" %></th>
      <td> 
		  <%= f.select :whoami_id, @chosains.map{|chosain| [chosain.namecode+' '+chosain.name, chosain.id]} %></td>
		  

	  </td>
    </tr>

    <tr>
      <th><%= f.label "当年" %></th>
      <td><%= f.select :when_year, {"2009年" => "2009","2010年" => "2010","2011年" => "2011","2012年" => "2012","2013年" => "2013", "2014年" => "2014", "2015年" => "2015"},:selected => "2015" %></td>
    </tr>
    <tr>
      <th><%= f.label "当月" %></th>
      <td><%= f.select :when_month,
                { "1月" =>  "01",  "2月" =>  "02",  "3月" =>  "03",
                  "4月" =>  "04",  "5月" =>  "05",  "6月" =>  "06",
                  "7月" =>  "07",  "8月" =>  "08",  "9月" =>  "09",
                 "10月" => "10", "11月" => "11", "12月" => "12"
                  } , :selected => "1"%></td>
    </tr>
  </table>
<br />
<p><%= f.submit "ログイン" %></p>
<% end %>
