<%- model_class = Kofu -%>
<div class="page-header">
  <h3><%=t '.title', :default => "お客さま選択画面" %></h3>
  <h4>調査員の今月の交付件数：<%= @kofus.count %>件</h4>
</div>

<a class="btn" data-toggle="modal" href="#show_kensaku" role="button">
   <button type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search"></span> 検索</button>
</a>

<div id="show_kensaku" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">検索条件指定</h4>
      </div>
      <div class="modal-body">
		<div class="form-horizontal" role="form">
		<%= search_form_for @search do |f| %>
		 <div class="form-group">
		  <%= f.label :newest_chosajisseki_code_cont, '最新実績',:class => "col-sm-3 control-label" %>
		  <%= f.select :newest_chosajisseki_code_cont, options_from_collection_for_select(ChosajissekiCode.all, :id, :atai),:include_blank => true %>
		 </div>
		 <div class="form-group">
		  <%= f.label :chosain_name_cont, '調査員名',:class => "col-sm-3 control-label" %>
		  <%= f.text_field :chosain_name_cont %>
		 </div>
		 <div class="form-group"> 
		  <%= f.label :keiyaku_kanriku_code_cont, '管理区' ,:class => "col-sm-3 control-label"%>
		  <%= f.select :keiyaku_kanriku_code_cont,@kanrikus ,:include_blank => true%>
		 </div>
		 <div class="form-group">
		  <%= f.label :keiyaku_hashira_bango_cont, '柱番号',:class => "col-sm-3 control-label" %>
		    <%= f.select :keiyaku_hashira_bango_cont,@hashiras ,:include_blank => true%>
		 </div>
		 <div class="form-group">
		  <%= f.label :keiyaku_okyaku_code_cont, 'お客さま番号' ,:class => "col-sm-3 control-label"%>
		  <%= f.text_field :keiyaku_okyaku_code_cont %>
		</div>
		<div class="form-group">
		  <%= f.label :keiyaku_okyaku_name_cont, 'お客さま名',:class => "col-sm-3 control-label" %>
		  <%= f.text_field :keiyaku_okyaku_name_cont %>
  
		 </div>

		 
		    <%= f.submit '検索する' ,:class=>'btn btn-primary btn-sm pull-right'%>
		  
		<% end %>
		<button type="button" class="btn btn-default btn-xs" data-dismiss="modal"><span class="glyphicon glyphicon-arrow-left"></span> 戻る</button>
		</div>
      </div>

    </div>
  </div>
</div>


<div class="container">
<table class="table table-condensed">
  <thead>
    <tr>
	  <th>交種別</th>
	  <th>管区</th>
	  <th>柱</th>
	  <th>客番</th>
	  <th>客名</th>
	  <th>灯力街</th>
	  <th>実績</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @kofus.each do |kofu| %>
      <tr>
		<td><%= kofu.kofushubetsu_code %></td>
		<td><%= kofu.keiyaku.kanriku_code %></td>
		<td><%= kofu.keiyaku.hashira_bango %></td>
		<td>
			<%= kofu.keiyaku.okyaku_code %>
		</td>
		<td><%= kofu.keiyaku.okyaku_name %></td>
		<td><%= kofu.keiyaku.torikigai_code %></td>
		<td>
			<% unless kofu.newest_chosajisseki_code.blank? %>
			<%= kofu.chosajisseki.kigou %>
			<% end %>
		</td>
        <td>
			
		  <%= link_to '開始',kofu_path(kofu), :class => 'btn btn-primary btn-sm' %>
		  <%= link_to '訪歴',show_one_path(kofu), :class => 'btn btn-primary btn-sm' %>
		  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

