<p id="notice"><%= notice %></p>

<p>
  <strong>Atai:</strong>
  <%= @chosajisseki_code.atai %>
  <strong>Kigou:</strong>
  <%= @chosajisseki_code.kigou %>
</p>

<%= link_to 'Edit', edit_chosajisseki_code_path(@chosajisseki_code) %> |
<%= link_to 'Back', chosajisseki_codes_path %>
