<h1>Listing okunais</h1>

<table>
  <thead>
    <tr>
      <th>Jisshi umu</th>
      <th>Mijisshi riyu</th>
      <th>Bundenbanhason umu</th>
      <th>Juudenburosyutsu umu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @okunais.each do |okunai| %>
      <tr>
        <td><%= okunai.jisshi_umu %></td>
        <td><%= okunai.mijisshi_riyu %></td>
        <td><%= okunai.bundenbanhason_umu %></td>
        <td><%= okunai.juudenburosyutsu_umu %></td>
        <td><%= link_to 'Show', okunai %></td>
        <td><%= link_to 'Edit', edit_okunai_path(okunai) %></td>
        <td><%= link_to 'Destroy', okunai, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Okunai', new_okunai_path %>
